<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bookworm{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/assets/book.png" alt="Bookworm Logo">
                <span>Bookworm</span>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}">Search</a></li>
                <li><a href="{{ url_for('search') }}">Collection</a></li>
                {% if 'username' in session %}
                    <li><a href="{{ url_for('library') }}">My Library</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Bookworm. All rights reserved.</p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>