{% extends "base.html" %}

{% block title %}Bookworm - Register{% endblock %}

{% block content %}
<h1>Register</h1>
<div class="register-container">
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('register') }}" method="post">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}